
.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.main-header {
  background-color: white;
  padding: 15px 0;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  .main-navigation {
    @include xl {display: none;}
    display: flex;
    align-items: center;
    column-gap: 15px;
    .main-menu {
      ul {
        padding-left: 0;
        text-align: right;
      }
      li {
        display: inline-block;
      }
      a {
        padding-left: 0;
        padding-right: 10px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        color: black;
      }
      a:hover {
        opacity: 0.8;
      }
      li:first-of-type {
        padding-left: 0px;
      }
    }
  }
}